In [4]:
# import os

# print(os.getcwd())

In [5]:
# import os

# os.chdir('C:/Users/LUY1/Desktop/customer churn data/data')

# print(os.getcwd())

In [7]:
import pandas as pd

In [6]:
# df = pd.read_excel('Data_Raw.xlsx')

In [1]:
# df

In [2]:
# df.info()

In [3]:
# df.head()

In [7]:
# df.T

In [8]:
# for var in df.columns.values:
#     print('Missing values rates for feature:', var)
#     print(df[var].isnull().sum()/df.shape[0])
#     print()

In [9]:
# import os

# os.chdir('C:/Users/LUY1/Desktop/customer churn data/data')

# print(os.getcwd())

In [10]:
# import pandas as pd

# df = pd.read_excel('Data_Raw.xlsx')
# df.head()

In [3]:
df['RENEWAL_YEAR'].min()

2017

In [4]:
df['RENEWAL_YEAR'].max()

2018

In [5]:
df['RENEWAL_MONTH'].min()

1

In [6]:
df['RENEWAL_MONTH'].max()

12

In [7]:
df['SRC_CHANNEL_A'].value_counts(dropna = False)

DIR    524275
Name: SRC_CHANNEL_A, dtype: int64

In [8]:
df['UPM_BUSINESS_BRAND_A'].value_counts(dropna = False)

Direct - UKDI    524275
Name: UPM_BUSINESS_BRAND_A, dtype: int64

In [10]:
df['NO_INSD_PROPS'].value_counts(dropna = False)

1    524275
Name: NO_INSD_PROPS, dtype: int64

In [11]:
df['PYMT_FRQ_ACTL_B'].value_counts(dropna = False)

AN    319872
MO    204399
MI         4
Name: PYMT_FRQ_ACTL_B, dtype: int64

In [12]:
df['PYMT_FRQ_ACTL_B2'].value_counts(dropna = False)

A     250422
M     204398
D      45920
C      23530
MI         5
Name: PYMT_FRQ_ACTL_B2, dtype: int64

In [13]:
df['POL_DURATION'].min()

1

In [14]:
df['POL_DURATION'].max()

22

In [15]:
df['CUSTOMER_SEGMENT'].value_counts(dropna = False)

F. Golden Years         102721
D. Good Life             85182
G. Quiet Times           84787
E. Modest Means          78085
C. Hectic Homes          73737
B. Restless Ambition     63658
A. Stepping Up           21658
NaN                      14447
Name: CUSTOMER_SEGMENT, dtype: int64

In [16]:
df['COMBINED_COVER'].value_counts(dropna = False)

1    368337
0    155938
Name: COMBINED_COVER, dtype: int64

In [17]:
df['BUILDINGS_COVER'].value_counts(dropna = False)

0    468767
1     55508
Name: BUILDINGS_COVER, dtype: int64

In [18]:
df['CONTENTS_COVER'].value_counts(dropna = False)

0    423845
1    100430
Name: CONTENTS_COVER, dtype: int64

In [19]:
df['INVITED'].value_counts(dropna = False)

1    524275
Name: INVITED, dtype: int64

In [22]:
df['RENEWED'].value_counts(dropna = False, normalize = True)

1    0.855608
0    0.144392
Name: RENEWED, dtype: float64

In [24]:
df['RENEWED'].value_counts(dropna = False)

1    448574
0     75701
Name: RENEWED, dtype: int64

In [23]:
df['LAPSED'].value_counts(dropna = False)

0    448574
1     75701
Name: LAPSED, dtype: int64

In [11]:
# check whether 'RENEWED' == 'LAPSED'

# df.loc[(df['RENEWED'] == df['LAPSED']),:]

In [29]:
df['PREM'].min()

0.0

In [30]:
df['PREM'].max()

3964.46

In [31]:
df['PY_PREM'].min()

0.0

In [32]:
df['PY_PREM'].max()

4136.38

In [34]:
df['ACDH_CLAIMS'].value_counts(dropna = False)

0    519870
1      4287
2       114
3         3
4         1
Name: ACDH_CLAIMS, dtype: int64

In [35]:
df['ADEX_CLAIMS'].value_counts(dropna = False)

0    521277
1      2928
2        68
3         2
Name: ADEX_CLAIMS, dtype: int64

In [36]:
df['EWNF_CLAIMS'].value_counts(dropna = False)

0    519640
1      4507
2       125
3         3
Name: EWNF_CLAIMS, dtype: int64

In [37]:
df['THFT_CLAIMS'].value_counts(dropna = False)

0    521282
1      2927
2        63
3         2
4         1
Name: THFT_CLAIMS, dtype: int64

In [38]:
df['FIRP_CLAIMS'].value_counts(dropna = False)

0    523872
1       398
2         5
Name: FIRP_CLAIMS, dtype: int64

In [39]:
df['STMP_CLAIMS'].value_counts(dropna = False)

0    522478
1      1779
2        18
Name: STMP_CLAIMS, dtype: int64

In [40]:
df['FRZP_CLAIMS'].value_counts(dropna = False)

0    524031
1       242
2         2
Name: FRZP_CLAIMS, dtype: int64

In [41]:
df['OTPP_CLAIMS'].value_counts(dropna = False)

0    523233
1      1028
2        13
3         1
Name: OTPP_CLAIMS, dtype: int64

In [42]:
df['SUBP_CLAIMS'].value_counts(dropna = False)

0    524109
1       165
2         1
Name: SUBP_CLAIMS, dtype: int64

In [43]:
df['OTHER_CLAIMS'].value_counts(dropna = False)

0    524188
1        85
2         2
Name: OTHER_CLAIMS, dtype: int64

In [44]:
df['TOTAL_CLAIMS'].value_counts(dropna = False)

0    506123
1     17169
2       916
3        60
4         7
Name: TOTAL_CLAIMS, dtype: int64

In [45]:
df['COMPLAINT_UNIQID'].tail()

524270    NaN
524271    NaN
524272    NaN
524273    NaN
524274    NaN
Name: COMPLAINT_UNIQID, dtype: object

In [48]:
df['COMPLAINT_AREA'].value_counts(dropna = False)

NaN                  522499
Claims                 1017
Sales and Service       755
Non UKGI                  3
Creditor mis-sale         1
Name: COMPLAINT_AREA, dtype: int64

In [12]:
# df['COMPLAINT_TYPE'].value_counts(dropna = False)

In [50]:
len(df['COMPLAINT_TYPE'].value_counts(dropna = False))

26

In [51]:
df['COMP'].value_counts(dropna = False)

0    522498
1      1777
Name: COMP, dtype: int64

In [13]:
# df.columns.values

In [52]:
# create 2 datasets:
# 1. just exclude some features: df_1
# 2. merge features into one column: BUILDINGS_COVER, CONTENTS_COVER, COMBINED_COVER into 'COVER' with 3 levels: df_2

In [14]:
# df_1 = df[['RENEWAL_MONTH',
#        'PYMT_FRQ_ACTL_B2', 'POL_DURATION',
#        'CUSTOMER_SEGMENT', 'COMBINED_COVER', 'BUILDINGS_COVER',
#        'CONTENTS_COVER', 'RENEWED', 'PREM',
#        'PY_PREM', 'ACDH_CLAIMS', 'ADEX_CLAIMS', 'EWNF_CLAIMS',
#        'THFT_CLAIMS', 'STMP_CLAIMS', 'FIRP_CLAIMS', 'FRZP_CLAIMS',
#        'OTPP_CLAIMS', 'SUBP_CLAIMS', 'OTHER_CLAIMS', 'TOTAL_CLAIMS','COMP']]

# df_1

In [15]:
# df_1.dtypes

In [16]:
# df_1.isnull().sum()/len(df_1)

In [95]:
# fill missing values for features: CUSTOMER_SEGMENT, PY_PREM

In [17]:
# df_1['CUSTOMER_SEGMENT'].value_counts(dropna = False)

In [18]:
# df_1.loc[df_1['CUSTOMER_SEGMENT'] == 'F. Golden Years', :]

In [98]:
df_1['CUSTOMER_SEGMENT'].fillna('F. Golden Years', inplace = True)

C:\Users\LUY1\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [19]:
# df_1.isnull().sum()/len(df_1)

In [20]:
# df_1

In [22]:
# df_1['PY_PREM'].mean()

In [23]:
# df_1['PY_PREM'].fillna(160.9220502228112, inplace = True)

In [21]:
# df_1.isnull().sum()/len(df_1)

In [24]:
# df_1

In [104]:
# Pickle this cleaned dataset of df_1

df_1.to_pickle('df_1_cleaned.pkl')

In [25]:
# df_1.info()